target/
project/target/
project/project/
*.log
*.class
*.iml
.idea/
*.jar
*.war
*.swp
.DS_Store
.cache/
.history/
lib_managed/
src_managed/
.ensime
.ensime_cache/
.metals/
.bloop/
.vscode/
*.tmp
*.lock

